In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("himanshunakrani/iris-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/himanshunakrani/iris-dataset?dataset_version_number=1...

100%|██████████████████████████████████████| 0.98k/0.98k [00:00<00:00, 3.57MB/s]

Extracting files...
Path to dataset files: /home/ubuntu/.cache/kagglehub/datasets/himanshunakrani/iris-dataset/versions/1

In [4]:
import pandas as pd

df = pd.read_csv('/home/ubuntu/Downloads/iris.csv')
import pandas as pd

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [12]:
import numpy as np
import pandas as pd
df = pd.read_csv('/home/ubuntu/Downloads/iris.csv')

print("The mean of sepal length is :",df.loc[:,"sepal_length"].mean())
print("The mean of sepal width is :",df.loc[:,"sepal_width"].mean())
print("The mean of sepal length is :",df.loc[:,"petal_length"].mean())
print("The mean of sepal width is :",df.loc[:,"petal_width"].mean())

The mean of sepal length is : 5.843333333333334
The mean of sepal width is : 3.0540000000000003
The mean of sepal length is : 3.758666666666666
The mean of sepal width is : 1.1986666666666668

In [9]:
print("The mean of sepal length is :",df.loc[:,"sepal_length"].median())
print("The mean of sepal width is :",df.loc[:,"sepal_width"].median())
print("The mean of sepal length is :",df.loc[:,"petal_length"].median())
print("The mean of sepal width is :",df.loc[:,"petal_width"].median())

The mean of sepal length is : 5.8
The mean of sepal width is : 3.0
The mean of sepal length is : 4.35
The mean of sepal width is : 1.3

In [10]:
print("The mean of sepal length is :",df.loc[:,"sepal_length"].std())
print("The mean of sepal width is :",df.loc[:,"sepal_width"].std())
print("The mean of sepal length is :",df.loc[:,"petal_length"].std())
print("The mean of sepal width is :",df.loc[:,"petal_width"].std())

The mean of sepal length is : 0.828066127977863
The mean of sepal width is : 0.4335943113621737
The mean of sepal length is : 1.7644204199522626
The mean of sepal width is : 0.7631607417008411

In [13]:
array1 = np.array(df['sepal_length'])
array2=np.array(df["sepal_width"])
print("Sepal Length",array1)
print("sepal Width",array2)

Sepal Length [5.1 4.9 4.7 4.6 5.  5.4 4.6 5.  4.4 4.9 5.4 4.8 4.8 4.3 5.8 5.7 5.4 5.1
 5.7 5.1 5.4 5.1 4.6 5.1 4.8 5.  5.  5.2 5.2 4.7 4.8 5.4 5.2 5.5 4.9 5.
 5.5 4.9 4.4 5.1 5.  4.5 4.4 5.  5.1 4.8 5.1 4.6 5.3 5.  7.  6.4 6.9 5.5
 6.5 5.7 6.3 4.9 6.6 5.2 5.  5.9 6.  6.1 5.6 6.7 5.6 5.8 6.2 5.6 5.9 6.1
 6.3 6.1 6.4 6.6 6.8 6.7 6.  5.7 5.5 5.5 5.8 6.  5.4 6.  6.7 6.3 5.6 5.5
 5.5 6.1 5.8 5.  5.6 5.7 5.7 6.2 5.1 5.7 6.3 5.8 7.1 6.3 6.5 7.6 4.9 7.3
 6.7 7.2 6.5 6.4 6.8 5.7 5.8 6.4 6.5 7.7 7.7 6.  6.9 5.6 7.7 6.3 6.7 7.2
 6.2 6.1 6.4 7.2 7.4 7.9 6.4 6.3 6.1 7.7 6.3 6.4 6.  6.9 6.7 6.9 5.8 6.8
 6.7 6.7 6.3 6.5 6.2 5.9]
sepal Width [3.5 3.  3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 3.7 3.4 3.  3.  4.  4.4 3.9 3.5
 3.8 3.8 3.4 3.7 3.6 3.3 3.4 3.  3.4 3.5 3.4 3.2 3.1 3.4 4.1 4.2 3.1 3.2
 3.5 3.1 3.  3.4 3.5 2.3 3.2 3.5 3.8 3.  3.8 3.2 3.7 3.3 3.2 3.2 3.1 2.3
 2.8 2.8 3.3 2.4 2.9 2.7 2.  3.  2.2 2.9 2.9 3.1 3.  2.7 2.2 2.5 3.2 2.8
 2.5 2.8 2.9 3.  2.8 3.  2.9 2.6 2.4 2.4 2.7 2.7 3.  3.4 3.1 2.3 3.  2.5
 2.6 3.  2.6 2.3 2.7 3.  2.9 2.9 2.5 2.8 3.3 2.7 3.  2.9 3.  3.  2.5 2.9
 2.5 3.6 3.2 2.7 3.  2.5 2.8 3.2 3.  3.8 2.6 2.2 3.2 2.8 2.8 2.7 3.3 3.2
 2.8 3.  2.8 3.  2.8 3.8 2.8 2.8 2.6 3.  3.4 3.1 3.  3.1 3.1 3.1 2.7 3.2
 3.3 3.  2.5 3.  3.4 3. ]

In [14]:
print("Maximum sepal length is :",max(array1))
print("Minimum sepal length is :",min(array1))
print("Maximum sepal width is :",max(array2))
print("Minimum sepal width is :",min(array2))

Maximum sepal length is : 7.9
Minimum sepal length is : 4.3
Maximum sepal width is : 4.4
Minimum sepal width is : 2.0

In [15]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000